body
 {
    background-color: #F6F6F6;
    padding-top: 70px;
}

@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}
.wrapper {
    float: none;
    margin:0 auto;
    width:80%;
    text-align:center;
    height:inherit;
}


[ui-view].ng-enter {
    transition:0.5s  linear all;
    opacity: 0;
}

[ui-view].ng-enter-active {
    opacity: 1;
}

[ui-view].ng-leave {
    transition:0.5s  linear all;
    opacity: 1;
}

[ui-view].ng-leave-active {
    opacity: 0;
}