/* line 4, ../sass/contact.scss */
.contact-page h2 {
  margin-top: 45px !important;
  margin-bottom: 38px !important;
  padding-bottom: 22px !important;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 1px;
}
/* line 13, ../sass/contact.scss */
.contact-page .formContainer {
  width: 80%;
  margin: auto;
}
/* line 16, ../sass/contact.scss */
.contact-page .formContainer .form-group {
  margin-bottom: 20px;
}
/* line 18, ../sass/contact.scss */
.contact-page .formContainer .form-group input {
  padding: 5px 10px;
  font-size: 20px;
  width: 100%;
  text-align: left;
  border-radius: 10px;
  height: 50px;
}
/* line 26, ../sass/contact.scss */
.contact-page .formContainer .form-group textarea {
  padding: 5px 10px;
  font-size: 20px;
  width: 100%;
  height: 350px;
  text-align: left;
  resize: none;
  border-radius: 10px;
}
/* line 35, ../sass/contact.scss */
.contact-page .formContainer .form-group button {
  margin-top: -15px;
  /*margin-left:-300px;*/
  margin-bottom: 20px;
  cursor: default;
}
/* line 43, ../sass/contact.scss */
.contact-page .mapContainer .angular-google-map-container {
  height: 400px;
}
/* line 48, ../sass/contact.scss */
.contact-page .infoContainer p, .contact-page .infoContainer a {
  font-weight: 700;
  text-align: left;
  color: #0f0f0f;
  font-size: 15px;
}
/* line 54, ../sass/contact.scss */
.contact-page .infoContainer .iconContainer {
  text-align: left;
  margin-top: 0px;
}
/* line 57, ../sass/contact.scss */
.contact-page .infoContainer .iconContainer span {
  margin-right: 20px;
  display: inline-block;
}
/* line 62, ../sass/contact.scss */
.contact-page .infoContainer .iconContainer a {
  font-size: 40px;
}
/* line 66, ../sass/contact.scss */
.contact-page .infoContainer .iconContainer p {
  font-size: 30px;
}
/* line 70, ../sass/contact.scss */
.contact-page .infoContainer .iconContainer i {
  color: black;
}
/* line 78, ../sass/contact.scss */
.contact-page #myModal {
  text-align: center;
}
/* line 80, ../sass/contact.scss */
.contact-page #myModal .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
/* line 85, ../sass/contact.scss */
.contact-page #myModal .modal-dialog .modal-content .progress {
  height: 50px;
  /*margin-bottom:0px;*/
  width: 95%;
  margin: 0 auto;
}
/* line 91, ../sass/contact.scss */
.contact-page #myModal .modal-dialog .modal-content .alert {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  /* line 98, ../sass/contact.scss */
  .contact-page #myModal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
