body .navbar {
    margin-bottom: 0px;
    font-size: 20px;
    font-family: "Tahoma",Arial,sans-serif;
    font-weight: bold;
    background: #F6F6F6;
    box-shadow: 0 10px 20px #F6F6F6;
}
body .navbar ul{
    float:right

}
body .navbar a{
    color: #0f0f0f;

}
