<div class="contact-page" ng-controller="contactCtrl">
    <!-- Trigger the modal with a button -->
    <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->
    <!--{{status}}-->
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body">
                    <div class="progress" ng-show="status=='sending'">
                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                             aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                            sending
                        </div>


                    </div>
                    <div class="alert alert-success" ng-show="status!='sending'">{{status}}</div>
                </div>
                <div ng-show="status!='sending'" class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>

        </div>
    </div>
    <div class="container-fluid">
        <div class=" wrapper">
            <div class="row">
                <h2>Get In Touch!</h2>
            </div>

            <div class="row">

                <div class="col-xs-12 col-sm-6">

                    <!--<div data-ng-show="progress.active()" style="color: red; font-size: 50px;">Sending…</div>-->
                    <div class="formContainer">
                        <form name="userForm" data-ng-submit="submitForm()" novalidate>
                            <div class="form-group"
                                 data-ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                                <!--<label>Name</label>-->
                                <input type="text" name="firstName" placeholder="First Name"
                                       data-ng-model="firstName"
                                       required>
                                <p data-ng-show="userForm.firstName.$invalid && !userForm.firstName.$pristine"
                                   class="help-block">You first name is required.</p>
                            </div>
                            <div class="form-group"
                                 data-ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                                <!--<label>Name</label>-->
                                <input type="text" name="lastName" placeholder="Last Name" data-ng-model="lastName"
                                       required>
                                <p data-ng-show="userForm.lastName.$invalid && !userForm.lastName.$pristine"
                                   class="help-block">You last name is required.</p>
                            </div>
                            <div class="form-group"
                                 data-ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                                <!--<label>Email</label>-->
                                <input type="email" name="email" placeholder="Email" data-ng-model="email" required>
                                <p data-ng-show="userForm.email.$invalid && !userForm.email.$pristine"
                                   class="help-block">
                                    Enter a valid email.</p>
                            </div>
                            <div class="form-group"
                                 data-ng-class="{ 'has-error' : userForm.message.$invalid && !userForm.message.$pristine }">
                                <!--<label>Message</label>-->
                                <textarea type="text" name="message" placeholder="Message" data- ng-model="message"
                                          required/>
                                <p data-ng-show="userForm.message.$invalid && !userForm.message.$pristine"
                                   class="help-block">You message is required.</p>
                            </div>
                            <!--<div class="form-group">-->
                            <!--<input type="submit" value="Send your message ->">-->
                            <!--</div>-->
                            <button type="submit" class="btn btn-primary"
                                    data-ng-disabled="userForm.$invalid || progress.active()">Send your message
                            </button>


                        </form>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">

                    <div class="infoContainer">
                        <p style="font-size: 25px">Xinhe Huang</p>
                        <p>185 freeman St, Brookline, MA 02446</p>
                        <p>
                            <a href="tel:+13474468349">347-446-8349</a>
                        </p>
                        <p>
                            <a href="mailto:huntriver@hotmail.com">hutnriver@hotmail.com</a>
                        </p>

                        <div class="iconContainer">


                            <span>
                             <a href="https://www.linkedin.com/in/xinhe-huang-47236baa">
                                 <i class="fa fa-linkedin"/>
                             </a>
                         </span>
                            </span>
                            <span>
                             <a href="https://github.com/huntriver">
                                 <i class="fa fa-github"/>
                             </a>
                         </span>
                            </span>
                            <span>
                             <a href=" https://www.facebook.com/xinhe.huang.9">
                                 <i class="fa fa-facebook"/>
                             </a>
                         </span>

                        </div>


                    </div>
                    <div class="mapContainer">
                        <ui-gmap-google-map center='map.center' zoom='map.zoom' control="googlemap">
                            <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events"
                                            idkey="marker.id">
                            </ui-gmap-marker>
                        </ui-gmap-google-map>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>